<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Video</title>
    <link rel="stylesheet" href="../static/homepage/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/product_sans.css">
    <link href="https://cdn.jsdelivr.net/npm/jspanel4@4.5.0/dist/jspanel.css" rel="stylesheet">

</head>
<body>

    <div class="toolbar">
        <div class="toolbar-mid">
            <span class="title-toolbar"><span class="logo-1">Magic</span> <span class="logo-2">Video</span></span>
            <span class="add-toolbar">Upload Video</span>
        </div>
    </div>

    <h3 class="title-1">Latest Added Videos</h3>

    <div class="grid-container"></div>


    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.5.0/dist/jspanel.js"></script>
    <script src="../static/homepage/script.js"></script>
</body>
</html>